<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {

        $('select').material_select();

        // vars
        var vfe=null;
        var vco=null;
        var vdepth;
        var vid;
        var vcategory;
        var vbutton;
        var fielddata;

        var finds = [];

        // autocomplete data holders
        var iddata;
        var categorydata;

        // POST for the form contents and which button is pressed
        var postJSON = function(url, callback) {
            return jQuery.ajax({
                'type': 'POST',
                'url': url,
                'contentType': 'application/json',
                'data': JSON.stringify({
                    "fe": document.getElementById("fe").value,
                    "co": document.getElementById("co").value,
                    "depth": document.getElementById("depth").value,
                    "id": document.getElementById("id").value,
                    "category": document.getElementById("category").value,
                    "field": document.getElementById('field').value,
                    "button": vbutton
                }),
                'dataType': 'json',
                'success': callback
            });
        };


        var updateAutoCompleters=function() {

            $.getJSON("/ids", function( data ) {
              console.log("populating ids");
              iddata = data;
              console.log(iddata);
              // autocomplete1 fields
                $('input.autocomplete1').autocomplete({
                    data: iddata,
                    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                });
            });

            $.getJSON("/categories", function( data ) {
              console.log("populating categorydata");
              categorydata = data;
              console.log(categorydata);
              // autocomplete2 fields
                $('input.autocomplete2').autocomplete({
                    data: categorydata,
                    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                });
            });

            $.getJSON("/fields", function( data ) {
              console.log("populating fields");
              fielddata = data;
              console.log(fielddata);
                $('input.autocomplete3').autocomplete({
                    data: fielddata,
                    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                });
            });



        };

        // populate the autocompleters
        updateAutoCompleters();

        // click listener for the guess button
        document.getElementById("guess").addEventListener("click", function(data) {
            console.log("guess");
            vbutton='guess';
            postJSON("", function(data, status){
                console.log(data);
                vbutton=null;

                var findings = ""
                for (x in data['result']) {
                    var j = JSON.parse(data['result'][x]);
                    findings = findings + j['result'];
                    if (x<1) {
                        findings = findings + " / "
                    }
                }

                Materialize.toast('<i class="small material-icons">av_timer</i><p>' + new Date().getHours() +"h" + (new Date().getMinutes()<10?'0':'') + new Date().getMinutes() + ":  " + findings + "</p>", 10000);
                var node = document.createElement("li");
                var item;
                for (x in data['result']) {
                    var i = JSON.parse(data['result'][x]);
                    console.log(i['result']);

                    if (x<1) {
                        var icon = document.createElement("i");
                        icon.className="small material-icons";
                        icon.innerHTML="av_timer";
                        <!--node.appendChild(icon);-->

                        var time = document.createElement("p");
                        time.innerHTML=new Date().getHours() +"h" + (new Date().getMinutes()<10?'0':'') + new Date().getMinutes() + ": FE: " + document.getElementById("fe").value + " CO: " + document.getElementById("co").value + " Depth: " + document.getElementById("depth").value
                        time.appendChild(icon);
                        node.appendChild(time);



                    }

                    var item = document.createTextNode(i['result']);
                    node.className = "collection-item";
                    node.appendChild(item);
                    if (x<1) {
                        node.appendChild(document.createTextNode(" / "));
                    }
                }
                var list = document.getElementById("results-collection");
                list.insertBefore(node, list.childNodes[2]);
            });
        }, false);


        // record a find button listener
        document.getElementById("record").addEventListener("click", function(data) {
            console.log("record");
            vbutton='record';

            postJSON("", function(data, status){
                console.log(data);
                Materialize.toast(data['result'], 4000);
                vbutton=null;
                updateAutoCompleters();
            });

        }, false);

        // retrain button listener
        document.getElementById("retrain").addEventListener("click", function(data) {
            console.log("retrain");
            vbutton='retrain';

            postJSON("", function(data, status){
                console.log(data);
                Materialize.toast(data['result'], 4000);
                vbutton=null;
                updateAutoCompleters();
            });

        }, false);


        // calls a url and passes results to a function
        var show_contents = function(url, callback) {
            var ne = document.getElementById("db-collection").children.length;

            for (x=0; x<ne; x++) {
                console.log("removing " + x);
                document.getElementById("db-collection").firstChild.remove()
                console.log(document.getElementById("db-collection").children.length);
            }

            if (document.getElementById("db-collection").children.length >0) {
                document.getElementById("db-collection").firstChild.remove()
            }

            $.getJSON(url, function( data ) {
              console.log("getting contents from rest:");
              console.log(data);
              for (entry in data) {
                console.log(entry);
                console.log(data[entry]);
                document.getElementById("db-collection").appendChild(callback(data[entry]));
              }

            });
        }



        // event listener for when DB tab is selected
        document.getElementById("dbtab").addEventListener("click", function(data) {
            console.log("clicked db tab");
            show_contents('/dbdump', new_db_record_view);
        });

        // event listener for when DB tab is selected
        document.getElementById("fieldtab").addEventListener("click", function(data) {
            console.log("clicked field tab");
            show_contents('/fieldlist', new_field_record_view);
        });

        var new_db_record_view = function(record) {

            listitem = document.createElement('li')
	        listitem.setAttribute('class', 'collection-item avatar');

	        icon = document.createElement('i');
            icon.setAttribute('class', 'material-icons circle');
            icon.innerHTML="folder";
            listitem.appendChild(icon);

            span = document.createElement('span');
            span.setAttribute('class', 'title')
            span.innerHTML = record[4] + " / " + record[5];
            var button = document.createElement('a');
            button.innerHTML="X";
            button.setAttribute('class', 'waves-effect waves-light btn col s3 red right');
            button.addEventListener("click", function(data){
                console.log("Delete " + record[0]);
                $.getJSON("/delete/" + record[0] , function( data ) {
                  console.log("deleted record in db");
                  show_contents('/dbdump', new_db_record_view);
                });

            });
            span.appendChild(button);
            listitem.appendChild(span);

            var coordinates = document.createElement('p');
            coordinates.innerHTML = "FE:" + record[1] + " CO:" + record[2] + " @ depth:" + record[3] + "<BR>location:" + record[6];
            listitem.appendChild(coordinates);

            return listitem;
        };

        var new_field_record_view = function(record) {

            console.log("field view record: " + record);

            listitem = document.createElement('li')
	        listitem.setAttribute('class', 'collection-item avatar');

	        icon = document.createElement('i');
            icon.setAttribute('class', 'material-icons circle');
            icon.innerHTML="folder";
            listitem.appendChild(icon);

            span = document.createElement('span');
            span.setAttribute('class', 'title')
            span.innerHTML = record;

            listitem.appendChild(span);

            return listitem;
        };




    });
    </script>


</head>

<body>

<nav class="nav-extended">

    <div class="nav-content blue">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active" href="#ai">Detect</a></li>
            <li class="tab" id="dbtab"><a href="#database">DB</a></li>
            <li class="tab" id="fieldtab"><a href="#database">Areas</a></li>
            <li class="tab" id="helptab"><a href="#help">?</a></li>
            {% if username %}
                <li class="tab" id="logouttab1"><a href="#logout">{{ username }}</a></li>
            {% else %}
                <li class="tab" id="logouttab2"><a href="#logout">Unknown User</a></li>
            {% endif %}
        </ul>

    </div>

</nav>

<div id="database" class="col s12">
    <div class="row">
        <ul class="collection" id="db-collection">
        </ul>
    </div>
</div>

<div id="logout">
    <div class="row"></div>
    <div class="row">
        <a class="waves-effect waves-light btn col s12 blue" id="logoutbutton" href="/logout">Logout</a>
    </div>
</div>

<div id="help" class="col s12">
    <div class="row">
        <ul class="collection">
            <li>
                <h5>Before you start</h5>
                <p>
                    This app is utilizing various AI techniques to determine the identify of a object detected with a
                    metal detector. This tool is designed to rapidly learn and filter out trash from treasure in your
                    search location.
                </p>
                <p>
                    The algorithm learns about the environment you are searching in by separating similar
                    signals based on fe/co/depth of objects found which you have logged previously.
                </p>
                <p>
                    Remember to "retrain" your AI when you change search areas! Edit your "search area" field,
                    and click retrain.
                </p>
            </li>

            <li>
                <h5>fields, names and categories</h5>
                <p>
                    When logging finds, it is very important that you catalog the finds. Cataloging is achieved by entering
                    the fe, co, depth, name, category and search area into the "Detect" view, and clicking "record".
                </p>
                <p>
                    The name, category and search area boxes will autocomplete once you have something in the database.
                </p>
                <p>
                    the "name" field is the fully fledged name of the object. e.g "2/3 skillning 1836".
                    the "category" field is the object filter used by the AI, e.g. "bronze coin". Try not use more than 8
                    categories for a field, examples of categories are: silver coin, bronze coin, picnic trash, copper coin, CuNi coin
                </p>
                <p>
                    Try not to categorize objects with wildly different FE/CO numbers together, since this casts a wider
                    net when the algorithm is solving a find.
                </p>
            </li>

            <li>
                <h5>Start Training</h5>
                <li>
                    <p>By Default, there is no data in your database, finds, and their data are created as you "log" finds.</p>
                </li>
                <p>Pull out your detector, and go detecting on your search site. When you find a object of "interest", note its
                    FE, CO and Depth values as detected by your detector before digging it out. Once you dig it out, log it
                    by entering FE, CO, Depth, Name and a "Category" in the "Detect" view of the app.
                </p>
                <img class="responsive-img" src="/static/img/recording.png">
            </li>

            <li>
                <h5>Guessing</h5>
                <p>
                    Once you have some data in the system, you can start to use the "guess" button. The database takes a while to
                    be fully sentient, so continue to dig/catalog finds.

                </p>
                <img class="responsive-img" src="/static/img/guessing.png">

            </li>

           <li>
                <h5>Retraining / Field Selection</h5>
                <p>
                    Before you resume searching a site enter your search area name, and click "retrain". If you want to
                    use your global database ignoring fields specific data, clear "search area" and click "retrain"
                </p>
            </li>

            <li>
                <h5>Record Management</h5>
                <p>
                    You can delete records from the "record" view.
                </p>
            </li>

        </ul>
    </div>
</div>


<div id="ai" class="col s12">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="fe" type="tel" class="validate etracinput black-text">
                    <label for="fe">Ferrous 1-35</label>
                </div>
                <div class="input-field col s6">
                    <input id="co" type="tel" class="validate etracinput">
                    <label for="co">Conductivity 1-50</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="depth" type="tel" class="validate etracinput">
                    <label for="depth">Depth in cm</label>
                </div>
                <a class="col s6 waves-effect waves-light btn blue" id="guess">Guess</a>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input id="id" type="text" class="autocomplete1">
                    <label for="id">Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="category" type="text" class="autocomplete2">
                    <label for="category">Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="field" type="text" class="autocomplete3">
                    <label for="field">Search Area</label>
                </div>
            </div>
            <!--<div class="row">-->
            <!--<div class="input-field col s12 field-select">-->
            <!--<select id="active-field">-->
            <!--<option value="" disabled selected>Search field</option>-->
            <!--</select>-->
            <!--<label>Search Field</label>-->
            <!--</div>-->
            <!--</div>-->

            <div class="row">
                <a class="waves-effect waves-light btn col s12 blue" id="record">Record</a>
            </div>


            <div class="row">
                <ul id="results-collection" class="collection with-header">
                    <li class="collection-header"><h5>Results</h5></li>
                    <li class="collection-item"></li>
                </ul>
            </div>

            <div class="row">
                <a class="waves-effect waves-light btn col s12 blue" id="retrain">Retrain</a>
            </div>


        </form>
    </div>
</div>


</body>
</html>