<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/icon-iphone4.png" />
    <meta name="apple-mobile-web-app-capable" content="yes">

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {

        $('select').material_select();

        // vars
        var vfe=null;
        var vco=null;
        var vdepth;
        var vid;
        var vcategory;
        var vbutton;
        var fielddata;

        var finds = [];

        // autocomplete data holders
        var iddata;
        var categorydata;

        // POST for the form contents and which button is pressed
        var postJSON = function(url, callback) {
            return jQuery.ajax({
                'type': 'POST',
                'url': url,
                'contentType': 'application/json',
                'data': JSON.stringify({
                    "fe": document.getElementById("fe").value,
                    "co": document.getElementById("co").value,
                    "depth": document.getElementById("depth").value,
                    "id": document.getElementById("id").value,
                    "category": document.getElementById("category").value,
                    "field": document.getElementById('field').value,
                    "button": vbutton
                }),
                'dataType': 'json',
                'success': callback
            });
        };


        var updateAutoCompleters=function() {

            $.getJSON("/ids", function( data ) {
              console.log("populating ids");
              iddata = data;
              console.log(iddata);
              // autocomplete1 fields
                $('input.autocomplete1').autocomplete({
                    data: iddata,
                    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                });
            });

            $.getJSON("/categories", function( data ) {
              console.log("populating categorydata");
              categorydata = data;
              console.log(categorydata);
              // autocomplete2 fields
                $('input.autocomplete2').autocomplete({
                    data: categorydata,
                    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                });
            });

            $.getJSON("/fields", function( data ) {
              console.log("populating fields");
              fielddata = data;
              console.log(fielddata);
                $('input.autocomplete3').autocomplete({
                    data: fielddata,
                    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                });
            });



        };

        // populate the autocompleters
        updateAutoCompleters();

        // click listener for the guess button
        document.getElementById("guess").addEventListener("click", function(data) {
            console.log("guess");
            vbutton='guess';
            postJSON("", function(data, status){
                console.log(data);
                vbutton=null;

                var findings = ""
                for (x in data['result']) {
                    var j = JSON.parse(data['result'][x]);
                    findings = findings + j['result'];
                    if (x<1) {
                        findings = findings + " / "
                    }
                }

                document.getElementById("modalheader").innerHTML="Classification";
                document.getElementById("modalview").innerHTML=findings;
                $('#modal1').modal('open');

                <!--Materialize.toast('<i class="small material-icons">av_timer</i><p>' + new Date().getHours() +"h" + (new Date().getMinutes()<10?'0':'') + new Date().getMinutes() + ":  " + findings + "</p>", 10000);-->
                var node = document.createElement("li");
                var item;
                for (x in data['result']) {
                    var i = JSON.parse(data['result'][x]);
                    console.log(i['result']);

                    if (x<1) {

                        var span = document.createElement("span");
                        span.className="title right";
                        span.innerHTML=new Date().getHours() +"h" + (new Date().getMinutes()<10?'0':'') + new Date().getMinutes() + ", ferrous: " + document.getElementById("fe").value + ", conductivity: " + document.getElementById("co").value + ", depth: " + document.getElementById("depth").value;

                        <!--var icon = document.createElement("i");-->
                        <!--icon.className="tiny material-icons left";-->
                        <!--icon.innerHTML="av_timer";-->
                        <!--span.appendChild(icon);-->

                        <!--node.appendChild(icon);-->

                        <!--var time = document.createElement("p");-->
                        <!--time.innerHTML=new Date().getHours() +"h" + (new Date().getMinutes()<10?'0':'') + new Date().getMinutes() + ": FE: " + document.getElementById("fe").value + " CO: " + document.getElementById("co").value + " Depth: " + document.getElementById("depth").value-->
                        <!--time.appendChild(icon);-->
                        <!--node.appendChild(icon);-->
                        <!--span.appendChild(time);-->

                        var icon = document.createElement("i");
                        icon.className="material-icons circle";
                        icon.innerHTML="search";
                        node.appendChild(icon);

                        node.appendChild(span);
                    }

                    var item = document.createElement("p");
                    item.innerHTML+=i['result'];
                    <!--var item = document.createTextNode(i['result']);-->
                    node.className = "collection-item avatar";



                    node.appendChild(item);
                    <!--if (x<1) {-->
                        <!--node.appendChild(document.createTextNode(" / "));-->
                    <!--}-->
                }
                var list = document.getElementById("results-collection");
                list.insertBefore(node, list.childNodes[2]);
            });
        }, false);


        // record a find button listener
        document.getElementById("record").addEventListener("click", function(data) {
            console.log("record");
            vbutton='record';
            postJSON("", function(data, status){
                console.log(data);
                Materialize.toast(data['result'], 4000);
                vbutton=null;
                updateAutoCompleters();
                document.getElementById("modalheader").innerHTML="AI Record";
                document.getElementById("modalview").innerHTML=data['result'];
                $('#modal1').modal('open');
            });

        }, false);

        <!--// retrain button listener-->
        <!--document.getElementById("retrain").addEventListener("click", function(data) {-->
            <!--console.log("retrain");-->
            <!--vbutton='retrain';-->

            <!--postJSON("", function(data, status){-->
                <!--console.log(data);-->
                <!--Materialize.toast(data['result'], 4000);-->
                <!--vbutton=null;-->
                <!--updateAutoCompleters();-->

            <!--});-->

        <!--}, false);-->


        // calls a url and passes results to a function
        var show_contents = function(url, callback) {
            var ne = document.getElementById("db-collection").children.length;

            for (x=0; x<ne; x++) {
                console.log("removing " + x);
                document.getElementById("db-collection").firstChild.remove()
                console.log(document.getElementById("db-collection").children.length);
            }

            if (document.getElementById("db-collection").children.length >0) {
                document.getElementById("db-collection").firstChild.remove()
            }

            $.getJSON(url, function( data ) {
              console.log("getting contents from rest:");
              console.log(data);
              for (entry in data) {
                console.log(entry);
                console.log(data[entry]);
                document.getElementById("db-collection").appendChild(callback(data[entry]));
              }

            });
        }



        // event listener for when DB tab is selected
        document.getElementById("dbtab").addEventListener("click", function(data) {
            console.log("clicked db tab");
            show_contents('/dbdump', new_db_record_view);
        });

        // event listener for when DB tab is selected
        document.getElementById("fieldtab").addEventListener("click", function(data) {
            console.log("clicked field tab");
            show_contents('/fieldlist', new_field_record_view);
        });

        var new_db_record_view = function(record) {

            listitem = document.createElement('li')
	        listitem.setAttribute('class', 'collection-item avatar');

	        icon = document.createElement('i');
            icon.setAttribute('class', 'material-icons circle');
            icon.innerHTML="folder";
            listitem.appendChild(icon);

            span = document.createElement('span');
            span.setAttribute('class', 'title')
            span.innerHTML = record[4] + " / " + record[5];
            var button = document.createElement('a');
            button.innerHTML="X";
            button.setAttribute('class', 'waves-effect waves-light btn col s3 red right');
            button.addEventListener("click", function(data){
                console.log("Delete " + record[0]);
                $.getJSON("/delete/" + record[0] , function( data ) {
                  console.log("deleted record in db");
                  show_contents('/dbdump', new_db_record_view);
                });

            });
            span.appendChild(button);
            listitem.appendChild(span);

            var coordinates = document.createElement('p');
            coordinates.innerHTML = "FE:" + record[1] + " CO:" + record[2] + " @ depth:" + record[3] + "<BR>location:" + record[6];
            listitem.appendChild(coordinates);

            return listitem;
        };

        var new_field_record_view = function(record) {

            console.log("field view record: " + record);

            listitem = document.createElement('li')
	        listitem.setAttribute('class', 'collection-item avatar');


            var button = document.createElement('a');
            button.innerHTML="Retrain";
            button.setAttribute('class', 'waves-effect waves-light btn col s4 blue right');
            button.addEventListener("click", function(data){

            document.getElementById('field').value = record;

                //fields retrain
                vbutton="retrain";
                postJSON("", function(data, status){
                    console.log(data);
                    Materialize.toast(data['result'], 4000);
                    vbutton=null;
                    updateAutoCompleters();
                });


            });
            listitem.appendChild(button);


	        icon = document.createElement('i');
            icon.setAttribute('class', 'material-icons circle');
            icon.innerHTML="folder";
            listitem.appendChild(icon);

            span = document.createElement('span');
            span.setAttribute('class', 'title')
            span.innerHTML = record;

            listitem.appendChild(span);

            return listitem;
        };


     $('.modal').modal()



    });
    </script>


</head>

<body>

<nav class="nav-extended">

    <div class="nav-content blue">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active" href="#ai">Detect</a></li>
            <li class="tab" id="dbtab"><a href="#database">DB</a></li>
            <li class="tab" id="fieldtab"><a href="#database">Areas</a></li>
            <li class="tab" id="helptab"><a href="#help">?</a></li>
            {% if username %}
                <li class="tab" id="logouttab1"><a href="#logout">{{ username }}</a></li>
            {% else %}
                <li class="tab" id="logouttab2"><a href="#logout">Unknown User</a></li>
            {% endif %}
        </ul>

    </div>

</nav>

<div id="database" class="container">
    <div class="row">
        <ul class="collection col s12" id="db-collection">
        </ul>
    </div>
</div>

<div id="logout" class="container">
    <div class="row"></div>
    <div class="row">
        <a class="waves-effect waves-light btn col s12 blue" id="logoutbutton" href="/logout">Logout</a>
    </div>
</div>

<div id="help" class="container">
    <div class="row">
        <ul class="collapsible popout col s12" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">filter_drama</i>
                    About Detectorists Intelligence
                </div>
                <div class="collapsible-body">
                    <span>
                    <p>
                        DI leverages simultaneous AI learning techniques to determine the identity of a object detected with
                        your metal detector. The AI learns about the area you are searching, and learns to filter out trash from
                        treasure which share overlapping FE:CO values.
                    </p>
                    <p>
                        Every location has its own history, and as a result has distinct "layers" of objects. For example,
                        a park might have a "picnic trash" layer down to 4cm.
                    </p>
                    </span>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <i class="material-icons">filter_drama</i>
                    Getting Started
                </div>
                <div class="collapsible-body">
                    <span>
                        <p>
                            Launch DI, and select your active field in the "Areas" tab.
                        </p>
                        <p>
                            If this is your first time running, you will have a empty database and only one "Global" area.

                            Areas are registered when you catalog a find, and name the "new" area in the "Search Area" field.

                            With a empty database, you probably want to "record" that name:iron and category:iron is at 35:50
                            ( etrac ) at a detected depth of ±10cm or half of your detectable depth. If you have a
                            different metal detector, use the FE:CO:Depth that your detector detects iron at.
                        </p>
                        <p>
                            Initially the database is completely untrained, so its completely up to you to populate it with the results
                            of digs. You will want to dig some trash to confirm is trash, and "record" that into the DB.
                        </p>
                    </span>
                </div>
            </li>


            <li>
                <div class="collapsible-header">
                    <i class="material-icons">filter_drama</i>
                    Areas
                </div>
                <div class="collapsible-body">
                    <span>
                        <p>
                            "Area" is the name of the place or plot you are digging, and want to train the AI to. To create a
                            Area, you simply populate the "Search Area" input field, and "record" any find. It is recommended to
                            record "iron" and its corresponding FE:CO for your detector, at a depth of half your max detectable
                            depth.
                        </p>
                    </span>
                </div>
            </li>


            <li>
                <div class="collapsible-header">
                    <i class="material-icons">filter_drama</i>
                    Name
                </div>
                <div class="collapsible-body">
                    <span>
                        <p>
                             Name is the fully qualified identity of the find. Its actually not used yet by the algorithms. But could
                    be in future. e.g. "10kr 1970"
                        </p>
                    </span>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <i class="material-icons">filter_drama</i>
                    Categories and the AI
                </div>
                <div class="collapsible-body">
                    <span>
                        <p>
                            Categories are the meat of the algorithm. When you categorize a find, try keeping "ballpark" similar
                            objects together, in about 10 categories. For example:
                            <ul>
                                <li>picnic trash</li>
                                <li>silver coin</li>
                                <li>bronze coin</li>
                                <li>small copper coin</li>
                                <li>large copper coin</li>
                                <li>coppernickel coin</li>
                                <li>iron</li>
                            </ul>
                        </p>
                    </span>
                </div>
            </li>


            <li>
                <div class="collapsible-header">
                    <i class="material-icons">filter_drama</i>
                    Guessing
                </div>
                <div class="collapsible-body">
                    <span>
                        <p>
                    Once you have some data in the DB, you can start to use the "guess" button. The database becomes more
                    accurate as you continue to catalog finds.

                </p>
                    <img class="responsive-img" src="/static/img/guessing.png">
                    </span>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <i class="material-icons">filter_drama</i>
                    Retraining the AI
                </div>
                <div class="collapsible-body">
                    <span>
                        <p>
                            When starting the app, switch to the "Area" tab and select your active search area.

                          Everytime you "record" a find, the AI is retrained, and further refined.
                        </p>
                    </span>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <i class="material-icons">filter_drama</i>
                    Database Management
                </div>
                <div class="collapsible-body">
                    <span>
                        <p>
                    You can delete records from the "record" view.
                </p>
                    </span>
                </div>
            </li>

        </ul>
    </div>
</div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 id="modalheader"></h4>
      <p id="modalview">Unknown</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
    </div>
  </div>


<div id="ai" class="col s12">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="fe" type="tel" class="validate etracinput black-text">
                    <label for="fe">Ferrous 1-99</label>
                </div>
                <div class="input-field col s6">
                    <input id="co" type="tel" class="validate etracinput">
                    <label for="co">Conductivity 1-99</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="depth" type="tel" class="validate etracinput">
                    <label for="depth">Depth in cm</label>
                </div>
                <a class="col s6 waves-effect waves-light btn blue" id="guess">Guess</a>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input id="id" type="text" class="autocomplete1">
                    <label for="id">Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="category" type="text" class="autocomplete2">
                    <label for="category">Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="field" type="text" class="autocomplete3">
                    <label for="field">Search Area</label>
                </div>
            </div>


            <div class="row">
                <a class="waves-effect waves-light btn col s12 blue" id="record">Record</a>
            </div>


            <div class="row">
                <ul id="results-collection" class="collection with-header">
                    <li class="collection-header"><h5>History</h5></li>
                    <li class="collection-item"></li>
                </ul>
            </div>


        </form>
    </div>
</div>


</body>
</html>