<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/icon-iphone4.png" />
    <meta name="apple-mobile-web-app-capable" content="yes">


</head>

<body>

<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 id="modalheader">Modal Header</h4>
      <p id="modalbody">A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
    </div>
  </div>

<div class="row">
    <form id="registerform" class="col s12">

        <div class="row">
            <div class="input-field col s12">
                <input id="username" type="email" class="validate">
                <label for="username">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="password2" type="password" class="validate">
                <label for="password2">Password Again</label>
            </div>
        </div>


        <input id="token" type="hidden" value="{{ token }}">


        <div class="row">
            {% if not token %}
                <a class="waves-effect waves-light btn col s6 blue" id="submit" type="submit">Register</a>
            {% else %}
                <a class="waves-effect waves-light btn col s6 blue" id="submit" type="submit">Change Password</a>
            {% endif %}

        </div>



    </form>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {

    $('.modal').modal();

    // POST for the form contents and which button is pressed
    var loginFunction = function(url, callback, errorcallback) {

        if (document.getElementById("username").validity.typeMismatch) {
            console.log("Bad email");
            document.getElementById("modalheader").innerHTML="Error"
            document.getElementById("modalbody").innerHTML="Invalid Email"
            $('#modal1').modal('open');
        return;
    } else if (document.getElementById("password").value == document.getElementById("password2").value) {
        return jQuery.ajax({
            'type': 'POST',
            'url': url,
            'contentType': 'application/json',
            'data': JSON.stringify({
                "username": document.getElementById("username").value,
                "password": document.getElementById("password").value,
                "token": document.getElementById("token").value
            }),
            'dataType': 'json',
            'success': callback,
             error: function (xhr, ajaxOptions, thrownError) {
                    <!--alert(xhr.status);-->
                    <!--alert(thrownError);-->
                    errorcallback()
             }
        });
    } else {
        console.log("Password missmatch");
        document.getElementById("modalheader").innerHTML="Password Missmatch"
        document.getElementById("modalbody").innerHTML="Please try again"
        $('#modal1').modal('open');
    }
}


// on enter in the password field, login
document.getElementById("password")
    .addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode == 13) {
        document.getElementById("submit").click();
    }
});


// record a find button listener
document.getElementById("submit").addEventListener("click", function(data) {
    console.log("submit");
    loginFunction("/register", function(data, status){
        console.log(data['result']);
        if (data['result']=="ok") {

            // set the modal to oncomplete redirect
            $('.modal').modal(
                {
                    complete: function() { window.location="/login"; }
                }
            );

            document.getElementById("modalheader").innerHTML="Success"
            document.getElementById("modalbody").innerHTML="Please check your email for activation instructions"
            $('#modal1').modal('open');

        } else if (data['result']=="reset") {

            // set the modal to oncomplete redirect
            $('.modal').modal(
                {
                    complete: function() { window.location="/login"; }
                }
            );

            document.getElementById("modalheader").innerHTML="Success"
            document.getElementById("modalbody").innerHTML="Please check your email for instructions"
            $('#modal1').modal('open');

        } else {
            document.getElementById("modalheader").innerHTML="Error"
            document.getElementById("modalbody").innerHTML="Server Computer says NOoooo...."
            $('#modal1').modal('open');
        }
    }, function(data, status) {
        document.getElementById("modalheader").innerHTML="Error"
        document.getElementById("modalbody").innerHTML="Registration Failed"
        $('#modal1').modal('open');
    }

    );
}, false);


});
</script>


{% if token %}

<script type="text/javascript">

$(document).ready(function() {
    document.getElementById("username").disabled=true
});
</script>

{% endif %}


</body>